* {
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito', Helvetica, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: rgb(255, 255, 255);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}
/* começo do efeito menu hamburguer */

#header {
  width: 100%;
  padding: 15px;
  background: rgb(0, 0, 0);
  position: fixed;
  z-index: 999 !important;
}

#menu-ul {
  display: flex;
}

#nav {
  display: block;
}

#nav li a {
  font-size: 0.9em;
  padding: 10px;
}

#nav a:hover {
  color: #5386a6;
}

#nav ul li.login a {
  color: #5386a6;
}

.db-container-img {
  width: 100%;
  height: 116vh;
  background-image: url('../imagens/background-img-container.png');
  background-position: right; 
  background-repeat: no-repeat;
  background-size: cover;  
  background-color: #000000;

}

.menu {
  max-width: 939px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.menu a {
  margin: 0 5px 0 0;
  color: #ffffff;
}

.menu-logo a {
  font-size: 1.85em;
  font-weight: bold;
  margin: 0 10px 0 10px;
}

#btn-mobile {
  display: none;
}

#btn-mobile-close {
  display: none;
}

/* fim do efeito menu hamburguer */
/* inicio do container principal */
.container {
  max-width: 939px;
  height: 200px;
  margin: 0 auto;
  
}

.container-introducao-bg {
  display: block;
}

.container-introducao-bg h1 {
  padding: 290px 0 0 0;
  font-size: 2.9em;
  color: #ffffff;
}

.container-introducao-bg h2 {
  font-size: 1.2em;
  color: #ffffff;
  font-weight: 300;
  padding-bottom: 20px;
} 

/* fim do container principal */
/* inicio do container sobre */

.sobre {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 240px 0px;
  color: #ffffff;
  max-width: 939px;
}

.sobre-bg {
  display: block;
  width: 100%;

  height: max-content;
  background-color: #000000;
}

.sobre-info {
  margin: -18px 15px 15px 10px;
  flex: 2 1 300px;
}

.sobre-info h2 {
  font-size: 3em;
  color: #ffffff;
  margin-bottom: 0.5em;
}

.sobre-info p {
  font-size: 0.9em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #ffffff;
}

.sobre-img {
  flex: 1 1 160px;
  margin: 0 10px;
}


/* fim do container sobre */
/* inicio do container soluções */

.solucoes-bg-container {
  background: #ffffff;
  color: #000000;
  margin-bottom: 160px;
}

.solucoes-bg-container h2 {
  width: 960px;
  margin: 0 auto;
  font-size: 3em;
  padding: 160px 0 0 5px;
}

.s-bg-solucoes {
  max-width: 936px;
  margin: 0 auto;
}

.solucoes {
  max-width: 963px;

  margin: 0 auto;
  display: flex;
}
.item1-c {
  display: block;
  padding: 0 30px 0 30px;
}

.item1-c h3 {
  font-size: 1rem;
  max-width: 300px;
  margin: 15px auto;
  font-weight: 600;
}

.item1-c img {
  margin: 0 auto;
}

.solucoes-item ul {
  max-width: 300px;
  margin: 25px 0 19px auto;
  font-size: 1em;
  font-style: italic;
  color: #000000;
  line-height: 1.7;
}
/* fim do container soluções */
/* inicio container de orçamento */
.orcamento-bg {
  /* height: 795px; */
  
  height: 110vh;
  background-image: url('../imagens/beckgraud03.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
}

.orcamento-container {
  width: 736px;
  justify-content: center;
  margin: 0 auto;
}

.orcamento {
  height: 400px;
  display: block;
}

.orcamento o-item {
  flex: 0;
  padding: 5px;
}

.o-item {
  flex: 1;
  margin: 5px;
  padding: 0 10px;
  text-align: center;
  color: #ffffff;
}


.orcamento h2 {
  font-size: 3em;
  font-weight: 400;
  padding: 410px 0 0 0;
}

.orcamento p {
  padding-bottom: 37px;
  font-size: 1.25em;
  font-style: italic;
}
/* Fim do container de orçamento */

/* Inicio container beneficios */

.b-container {
  max-width: 960px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.b-um-container {
  width: 960px;
  margin: 0 auto;
  padding: 160px 0 0 10px;
}

.beneficios-bg {
  background-color: #000000;
}

.b-um-container h2 {
  color: #ffffff;
  font-size: 3em;
  font-weight: 400;
}

.beneficios-bg h3 {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 400;
}

.beneficios-bg p {
  color: #ffffff;
  font-size: 0.87rem;
  margin-top: 10px;
  font-weight: 300;
  padding-bottom: 30px;
}

.b-item {
  flex: 1 1 300px;
  margin: 20px 10px;
}



.b-dois-container {
  background: #000000;
  height: 130px;
}

/* fim container beneficios  */
/* inicio do container footer */


.contato {
  max-width: 936px;
  height: 732px;
  margin: 10px auto;

}

.contato h2 {
  margin-top: 77px;
  font-size: 2em;
  font-weight: 400;
}


.contato ul {
  margin-top: 60px;
  flex-wrap: wrap;
}

.contato ul li a {
  color: #000000;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.contato ul li a img {
  width: 21px;
  height: 30px;
  padding: 0 5px 0 0;
}

.contato-container-dois {

  display: flex;
  flex-wrap: wrap;
}


.contato-formulario {
  display: block;
  max-width: 400px;
  margin: 0 auto;
}

.contato-formulario div {
  margin-bottom: 20px;
}

.contato-formulario label {
  display: block;
  font-weight: bold;
  margin-top: 30px;

}

.contato-formulario input[type='email'],
.contato-formulario input[type='text'],
.contato-formulario textarea {
  width: 291px;
  padding: 12px;
  border: none;
  border-radius: none;
  background-color: #f2f2f2;
}


.footer {
  height: 118px;
  background-color: #000000;
  display: flex;
  justify-content: center;
}

.footer p {
  padding: 32px 0;
  color: #ffffff;
  font-size: 0.9em;
}

/* inicio do Button */

.button-bg {
  /* width: 240.9px; */
  display: block;
  padding: 15px 79px;
  margin-bottom: 50px;
  text-decoration: none;
  background-color: #5386a6;
  color: #ffffff;
  border: none;
  font-size: 0.9em;
  border-radius: 5px;
  cursor: pointer;
}

.button-bg-beneficio {
    display: block;
    padding: 15px 79px;
    margin: auto;
    text-decoration: none;
    background-color: #5386a6;
    color: #ffffff;
    border: none;
    font-size: 0.9em;
    border-radius: 5px;
    cursor: pointer;
}

.button-bg-enviar {
    margin: 0 auto;
  padding: 12px 120px;
  text-decoration: none;
  background-color: #5386a6;
  color: #ffffff;
  border: none;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}


.button a:hover {
  background: #000000;
  color: #ffffff;
}

/* inicio estilo pagina login */

.dbrasil-container-login-black {
  background: #000000;
  display: flex;
  flex-wrap: nowrap;
  align-content: space-between;
}

.dbrasil-container-login-black h1,
h2,
p {
  color: #ffffff;
  margin: 5px;
}
.dbrasil-container-login-black h1 {
  font-size: 1.8em;
  font-weight: 200;
  
}

.dbrasil-container-login-black h2 {
  font-size: 2.6em;
  font-weight: 400;
}

.dbrasil-container-login-black p {
  font-size: 1.5em;
  font-weight: 300;
}

.dbrasil-container-div {
  min-height: 100vh;
  width: none;
  left: 0;
  position: relative;
  top: 0;
  margin: 10px;
  padding: 325px 37px;
  z-index: 1;
}

.dbrasil-container-login {
  background: #ffffff;
  width: 100%;
  z-index: 2;
}

.dbrasil-formulario {
  display: block;
  padding: 232px 0 135px 0;
  max-width: 280px;
  margin: auto;
}

.formulario-login {
  margin: 15px 0;
}

.formulario-login label {
  margin: 5px;
  font-size: 0.8em;
  color: #000000;
}

.formulario-login input {
  padding: 10px 35px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.formulario-login button {
  display: block;
  margin: 0 auto;
  padding: 10px 45px;
  text-decoration: none;
}

.formulario-login-github {
  text-align: center;
  padding: 15px;
}

.formulario-login-github p,
a {
  color: #000000;
  font-size: 0.7em;
  text-decoration: none;
  text-align: center;
}

.formulario-login-github button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 42px;
margin: 10px auto;
  font-size: 0.7em;
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 16px;
}

.formulario-login-github a {
  color: #5386a6;
  font-size: 0.9em;
}

.formulario-centro button {
  background: #5386a6;
  border: none;
  color: #ffffff;
  border-radius: 5px;
}


@media screen and (max-width: 420px) {

}

@media screen and (max-width: 576px) {


}

@media screen and (max-width: 730px) {

}

@media screen and (max-width: 992px) {
  /* começo do efeito menu hamburguer */
  #btn-mobile {
    display: block;
    padding: 0.5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  #btn-mobile img {
    width: 96px;
  }

  #btn-mobile-close {
    border: none;
    padding: 0.5rem 1rem;
    background: none;
    cursor: pointer;
  }

  #menu-ul {
    display: none;
    position: absolute;
    width: 100%;
    top: 150px;
    right: -396px;
    background: black;
    z-index: 1000;
  }

  #menu-ul a {
    padding: 1rem 0;
    margin: 0 1rem;
  }

  .menu-logo a {
    font-size: 4.85em;
  }

  #nav li {
    padding: 50px 20px;
  }

  #nav li a {
    font-size: 3.05em;
  }

  #nav.active #menu-ul {
    display: block;
    height: calc(100vh - 150px);
    overflow-y: auto;
  }

  #nav.active #btn-mobile-close {
    display: block;
  }

  #nav.active #btn-mobile {
    display: none;
  }

  #btn-mobile-close img {
    width: 76px;
  }

  /* fim do efeito menu hamburguer */
    /* Inicio container 01  */

  .container-introducao-bg h1 {
    padding: 380px 0 0 0;
    font-size: 6rem;
  }

  .container-introducao-bg h2 {
    font-size: 2.9em;
    padding: 0 0 25px 10px;
  }

  .sobre {
    flex-direction: column;
    flex-wrap: wrap;
  }


  .sobre-info h2 {
    font-size: 5.5em;
  }

  .sobre-info p {
    font-size: 3em;
  }

  .sobre-img {
    display: none;
  }
  /* fim container sobre  */
  /* inicio container soluções  */

  .solucoes {
    flex-wrap: wrap;
    justify-content: center;
  }

  .item1-c {
    padding: 160px 105px;
  }

  .item1-c h3 {
    max-width: none;
    padding: 0 20px;
    font-size: 2.8rem;
  }

  .item1-c img {
    width: 719px;
    margin: 0 auto;
  }

  .solucoes-item ul {
    max-width: none;
    margin: 25px 0 19px auto;
    font-size: 2em;
  }

  .solucoes-bg-container h2 {
    font-size: 5.5em;
  }
  /* fim container soluções  */
  /* inicio container de orçamento */

.orcamento {
padding: 230px 30px;
}

.orcamento-container {
  width: 766px;
  padding: 250px 0 0 0;
}



.orcamento p {
  font-size: 1.85em;
  font-style: italic;
}
/* Fim do container de orçamento */
/* inicio container beneficios  */

.b-container {
flex-direction: column;
}


.b-um-container h2 {
  font-size: 5em;
}

.beneficios-bg h3 {
  font-size: 2.5em;
}

.beneficios-bg p {
  font-size: 1.8rem;
  margin-top: 10px;
}

.b-item {
  margin: 30px 10px;
}
/* fim container beneficios  */
/* 
inicio container footer */


.contato-container-dois {
flex-direction: column;
}

.contato-formulario input, textarea {
font-size: 1.5em;
}

.contato {
  height: 832px;

}

.contato h2 {
font-size: 2.5em;
}

.contato ul {
  font-size: 1.5em;
}

/* inicio estilo button comput. */

.button-bg {
  padding: 25px 79px;
  margin-top:  60px;
  font-size: 2em;
}

.button-bg-beneficio {
  padding: 25px 79px;
  margin-top:  60px;
  font-size: 2em;
}
/* inicio pagina de login d. */

.dbrasil-container-login-black {
  flex-wrap: wrap;

}
}



@media screen and (max-width: 1200px) {


}

@media screen and (max-width: 1364px) {
  .orcamento {
    padding: 50px 30px;
    }

    .orcamento h2 {
      font-size: 2.5em;
      padding: 196px 0 0 0;
    } 
    
}

@media screen and (max-width: 1600px) {
  


}

@media screen and (max-width: 5600px) {


  

}
